body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

.gallery {
    display: flex;
    justify-content: space-around;
}

.gallery .item {
    text-align: center;
}

.gallery .item img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.gallery .item p {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

/* Estilo para a seção 'Sobre Mim' */
#sobre {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

#sobre h2 {
    color: #333;
}

#sobre p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}
